html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat,Helvetica Neue,Helvetica,arial,sans-serif;
}

h1 {
  font-weight: 300;
}

#app{
  height: 100%;
  overflow: scroll;
}


#background{
  height: 100vh;
  overflow: scroll;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: -1;
}

#background:before {
  content: '';
  background-image: url('http://c8.alamy.com/comp/DY553G/portrait-of-young-businesswoman-looking-out-of-office-window-DY553G.jpg');
  background-size: cover;
  filter: blur(15px);
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  z-index: -1;
  opacity: 0.4;

}